:root {
    --color-accent: #91fb28;
    --color-primary: #0b4747;
    --color-bg: #ffffff;
    --color-border: #d7d2cd;
    --font-mono: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif
    
}

.stripe {
    background: repeating-linear-gradient(
        45deg,
        var(--color-primary),
        var(--color-primary) 10px,
        var(--color-bg) 10px,
        var(--color-bg) 20px
    );
}

hr.stripe {
    	height: 2em;
      border: 0;
}

a {
    text-decoration: none;
    border-bottom: 5px solid var(--color-accent);
    color: var(--color-primary);
}


body {
    color: black;
    font-size: 16px;
    font-family: var(--font-mono);
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
